<!DOCTYPE html>
<html lang="en-­‐US">
    <head>
      <meta charset="utf-­‐8">
      <title><%= @title %></title>
    </head>
    <body>
        <header>
          <h1>Converting Store to a production ready app.</h1>
        </header>
        <section class="main">
          <%= yield %>
        </section>
        <footer>Copyright <%= Date.today.year %> Dougy Fresh</footer>
    </body>
</html>